header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    height: 200px;
    width: 200px;
}