* {
    font-family: 'Rampart One', cursive;
    color: red;
}

body {
    background-image: url('../assets/background.jpeg');
    background-size: cover;
    background-repeat: none;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

label {
    margin: auto;
}

img {
    height: 200px;
    width: 200px;
}

input {
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid red;
    padding: 10px;
    border-radius: 50%;
}

input[type=radio] + img {
    border: 5px solid black;
    padding: 10px;
    border-radius: 50%;
}

button {
    width: 100px;
    margin: auto;
}